{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1> Ajouter un nouvel athlète</h1>

    {{ form_start(ajouter_athlete_form) }}

    <div id="prenom">
        {{ form_label(ajouter_athlete_form.firstName) }}
        {{ form_widget(ajouter_athlete_form.firstName) }}
        {{ form_errors(ajouter_athlete_form.firstName) }}
    </div>
    <br/>

    <div id="nom">
        {{ form_label(ajouter_athlete_form.lastName) }}&nbsp;
        {{ form_widget(ajouter_athlete_form.lastName) }}
        {{ form_errors(ajouter_athlete_form.lastName) }}
    </div>
    <br/>

    <div id="categorie">
        {{ form_label(ajouter_athlete_form.category) }}&nbsp;
        {{ form_widget(ajouter_athlete_form.category) }}
        {{ form_errors(ajouter_athlete_form.category) }}
    </div>
    <br/>

    {{ form_row(ajouter_athlete_form.ajouter_athlete) }}
    <br/>

    {{ form_end(ajouter_athlete_form) }}
{% endblock %}
