{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1> Associer des athlètes à l'événement {{ evenement.name }}</h1>

    <form method="post" action="{{ path("admin_associer_athlete", {"id": evenement.id}) }}">
        {% for athlete in athletes %}
            <input type="checkbox" name="athletes[]" value="{{ athlete.object.id }}" {{ athlete.checked }}/> {{ athlete.object.lastName | upper }} {{ athlete.object.firstName |capitalize}}<br/>
        {% endfor %}
        <input type="submit" value="Submit" name="submit">
    </form>
{% endblock %}
