{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1> Associer des athlètes à l'événement {{ evenement.name }}</h1>

    <form method="post" action="{{ path("admin_associer_athlete", {"id": evenement.id}) }}">
        {% for athlete in athletes %}
        <div class="boxes">
            <input id="{{ athlete.object.id }}" type="checkbox" name="athletes[]" value="{{ athlete.object.id }}" {{ athlete.checked }}/>
            <label for="{{ athlete.object.id }}">{{ athlete.object.lastName | upper }} {{ athlete.object.firstName |capitalize}}</label>
        </div>
        {% endfor %}
        <div class="marginTop">
            <button type="submit"  value="Submit" name="submit" class="smallButton glow-on-hover">
                Valider
            </button>
        </div>

    </form>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttonStyle.css') }}">

{% endblock %}
