{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1> Liste des athletes du club {{ app.user.club.name }} </h1>

    <a href="{{ path("admin_ajouter_athlete") }}">Ajouter un athlete</a>
    <br/><br/>
    <table>
        <thead>
            <th> N° </th>
            <th> Nom </th>
            <th> Prénom </th>
            <th> Catégorie </th>
            <th> Nombre de points </th>
            <th> </th>
        </thead>
        <tbody>
            {% for athlete in athletes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ athlete.lastName | upper }}</td>
                    <td>{{ athlete.firstName | capitalize}}</td>
                    <td>{{ athlete.category.longName }} ({{ athlete.category.shortName }})</td>
                    <td>{{ athlete.nbPoints }}</td>
                    <td><a href="{{ path("admin_editer_athlete", {"id": athlete.id}) }}">Editer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
