{% extends 'base.html.twig' %}


{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}



    <h1 class="titre">Bienvenue sur athlète ranking ! </h1>

    <div class="marginTop">
        <a href={{ path("connexion") }}>
            <button class="buttonAccueil glow-on-hover">
                Je suis un Administrateur
            </button>
        </a>
    </div>

    <br>

    <div class="marginTop">
        <a href={{ path("athlete_listeClub") }}>
            <button class="buttonAccueil glow-on-hover">
            Je suis un Athlete
            </button>
        </a>
    </div>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttonStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

{% endblock %}
