{% extends 'base.html.twig' %}

{% block title %}Hello AthleteController!{% endblock %}

{% block body %}

    <h1 class="titre">Classement {{ nomCat.getLongName() }} </h1>

    <div class="table-wrapper">

    <table class="fl-table">
        <tbody>
        <thead>
            <tr>
                <th> Classement </th>
                <th> Prénom </th>
                <th> Nom </th>
                <th> Points </th>
            </tr>
        </thead>

        {% set i = 1 %}
        {% for athlete in athletesCat %}
        <tr>
                <td> {{ i }} </td>
                <td> {{ athlete.getFirstName() }} </td>
                <td> {{ athlete.getLastName() }} </td>
                <td> {{ athlete.getNbPoints() }} </td>
                {% set i = i + 1 %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tableau.css') }}">

{% endblock %}