{% extends 'base.html.twig' %}

{% block title %}Hello AthleteController!{% endblock %}

{% block body %}



    <h1 class="titre">Choisissez un club ! </h1>


    <form method="post" action="{{ path("athlete_recherche") }} ">

        <div class="select scrolldownSize marginTop">
            <select name="leclub">
                {% for club in clubs %}
                    <option value="{{ club.id }}"> {{ club.name }} </option>
                {% endfor %}
            </select>
        </div>


        <div class="marginTop2">
            <button class="glow-on-hover buttonSize" type="submit">
                Valider
            </button>
        </div>

    </form>



{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/selectionClub.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttonStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/scrolldown.css') }}">

{% endblock %}
