{% extends 'base.html.twig' %}

{% block title %}Hello AthleteController!{% endblock %}

{% block body %}

    <h1 class="titre">Profil Athlète </h1>




    <div class="table-wrapper">

        <table class="fl-table">
            <tbody>
            <thead>
                <tr>
                    <th> Classement</th>
                    <th> Prénom</th>
                    <th> Nom</th>
                    <th> Points</th>
                    <th> Categorie</th>
                </tr>
            </thead>

            <tr>
                <td> {{ position }} </td>
                <td> {{ athleteRecherche[0].getFirstName() }} </td>
                <td> {{ athleteRecherche[0].getLastName() }} </td>
                <td> {{ athleteRecherche[0].getNbPoints() }} </td>
                <td> {{ athleteRecherche[0].getCategory().getLongName() }}</td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableau.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


{% endblock %}