{% extends 'base.html.twig' %}

{% block title %}Hello AthleteController!{% endblock %}

{% block body %}


    <div class="marginTop2">
        <a href={{ path("athlete_rechercheAthleteAction", {"clubId":clubId}) }}>
            <button class="buttonAccueil glow-on-hover">
                Rechercher un athlète
            </button>
        </a>
    </div>

    <div class="marginTop2">
        <a href={{ path("athlete_selectCategorieAction", {"clubId":clubId}) }}>
            <button class="buttonAccueil glow-on-hover">
                Classement par catégorie
            </button>
        </a>
    </div>


{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttonStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

{% endblock %}