{% extends 'base.html.twig' %}

{% block title %}Hello AthleteController!{% endblock %}

{% block body %}

    <h1 class="titre">Choisissez une catégorie ! </h1>

<form method="post" action="{{ path("athlete_athletesCategorieAction", {"clubId":clubId}) }} ">
    <div class="select scrolldownSize marginTop">
        <select name="laCat">
            {% for cat in allCats %}
                <option value="{{ cat.id }}"> {{ cat.getLongName() }} </option>
            {% endfor %}
        </select>
    </div>

    <div class="marginTop3">
        <button class="glow-on-hover buttonSize" type="submit">
            Valider
        </button>
    </div>


</form>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/selectionClub.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttonStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/scrolldown.css') }}">

{% endblock %}